{% extends 'base.html.twig' %}

{% block body %}
    <div class="card card-lg bg-base-100 shadow m-4">
        <div class="card-body">
            <h2 class="card-title mb-4">
                <span class="ti ti-mail-check text-3xl"></span>
                Potvrdi svoj email
            </h2>

            <div class="font-bold">Tvoja registracija je uspešno evidentirana, ali je potrebno da potvrdiš svoj email kako bi proces bio završen.</div>
            <div>Uskoro će ti stići email sa linkom za potvrdu.</div>
        </div>
    </div>
{% endblock %}
