{% extends 'base_email.html.twig' %}

{% block body %}
    <p>Poštovana/i,</p>
    <p>Hvala vam što ste se uključili u Mrežu solidarnosti za obrazovanje kao donator i time stali uz profesore u školama i na univerzitetu koji su u prethodnom periodu, profesionalno, javno i ljudski, nosili teret prvih redova. Vaša kontinuirana podrška pokazuje da solidarnost nije jednokratan gest, već trajna pažnja i spremnost da se ostane uz one koji brane obrazovanje i javni interes.
    </p>
    <p>
        Pišemo Vam sada jer se društveni kontekst u kome delujemo ubrzano menja. Represija se umnožava i pojačava, poprimajući sve raznovrsnije oblike. Ona više ne pogađa samo one koji su istureni u prvim redovima, već zahvata sve širi krug ljudi. Pod udarom represije su studenti, profesori, njihove porodice, ali i sama ideja zakona. Premlaćivanja, finansijski i administrativni pritisci, disciplinski postupci, ugrožavanje radnog mesta, nadzor, marginalizacija i targetiranje imaju za cilj da se ljudi slome, ućutkaju i ostave sami.
    </p>
    <p>
        Upravo zato smo pokrenuli Mrežu solidarnosti protiv represije. Ova forma Mreže je okvir za solidarnu finansijsku podršku onima koji se javno izlažu i koji neposredno preuzimaju rizik kako bi društvo bilo pravednije, odgovornije i sigurnije za sve. Društvo u kojem se bez straha ide u školu, čeka voz ili prolazi ulicom, nije ideal – već posledica solidarnosti i toga da ljudi ne ostaju sami kada su izloženi pritisku.
    </p>
    <div style="
  width:100%;
  border-left:4px solid #262185;
  padding:12px 16px;
  font-style:italic;
  color:#2b2b2b;
  background-color:#f4f5f8;
">
        Donatori koji su bili direktno uključeni u Mrežu solidarnosti za obrazovanje nisu automatski registrovani u <a href="https://mspr.mrezasolidarnosti.org/" target="_blank" style="color:#262185; text-decoration:none;">Mreži solidarnosti protiv represije (MSPR)</a>, u skladu sa principima transparentnosti i poštovanja donatorskih odluka.
    </div>
    <p>
        Potreba da se na represiju odgovori solidarnošću iz dana u dan postaje sve očiglednija, jer se pritisci pojačavaju i šire, zato je solidarna podrška ključna kako oni koji stoje u prvim redovima ne bi ostali sami. Važno nam je da znate – <b>čak i ako danas niste u prvim redovima, možete aktivno učestvovati tako što ćete štititi one koji jesu. U vremenima pojačane represije, solidarna podrška postaje politički čin, način da se podeli i teret i odgovornost.</b>
    </p>
    <p>
        Pozivamo Vas da se registrujete kao donatori Mreže solidarnosti protiv represije i da, u skladu sa sopstvenim mogućnostima, podržite ljude koji trpe neposredne posledice borbe za vrednosti koje delimo.
    </p>
    <div style="
  width:100%;
  border-left:4px solid #262185;
  padding:12px 16px;
  font-style:italic;
  color:#2b2b2b;
  background-color:#f4f5f8;
">
        Više informacija o MSPR, kao i registracija, dostupni su na sledećem linku: <a href="https://mspr.mrezasolidarnosti.org/" target="_blank" style="color:#262185; text-decoration:none;">https://mspr.mrezasolidarnosti.org/ </a>
    </div>
    <p>
        Kada svako da malo, zajedno dobijamo puno.
        Tako gradimo otpornost.
        Tako štitimo jedni druge.
    </p>
{% endblock %}
