{% extends 'base_email.html.twig' %}

{% block body %}
    <p>Dragi prijatelji,</p>
    <p>Pre godinu dana počeli smo da gradimo Mrežu solidarnosti zajedno sa Vama - polako, strpljivo i sa puno poverenja.
        Danas znamo ono što smo tada samo osećali: da niko ne mora da ostane sam kada postoji mreža ljudi spremnih da pruže podršku.</p>

    <p>Vaše donacije, bile su mnogo više od finansijske pomoći. One su bile poruka ohrabrenja, znak da neko vidi, razume i stoji
        uz one koji su u najtežim trenucima bili izloženi pritiscima, riziku i neizvesnosti.</p>
    <p>Ova mreža je nastala zahvaljujući Vašem poverenju, solidarnosti i spremnosti da reagujete onda kada je bilo najpotrebnije,
        i upravo zahvaljujući Vama postala je prostor u kojem podrška kruži, jača otpornost i pokazuje da zajedništvo ima stvarnu snagu.</p>
    <p>Kao mali znak zahvalnosti za Vašu podršku, u prilogu ovog emaila šaljemo Vam i zahvalnicu – kao podsećanje da je svaka podrška deo mreže koja štiti ljude i vrednosti koje delimo.</p>
    <p>Želeli bismo da iskoristimo ovu priliku i da Vas obavestimo da smo, kao odgovor na sve učestalije pritiske i različite oblike represije kojima su izloženi studenti, profesori i ljudi koji deluju u javnom interesu, pokrenuli i Mrežu solidarnosti protiv represije. Ova inicijativa predstavlja okvir za solidarnu finansijsku podršku onima koji se nalaze na udaru pritisaka, kako niko ne bi ostao sam kada preuzme rizik za zajedničke vrednosti.</p>
    <p>Ukoliko želite da podržite i ovu vrstu solidarnosti, pozivamo Vas da se registrujete kao donatori Mreže solidarnosti protiv
        represije. Donatori koji su bili uključeni u Mrežu solidarnosti za obrazovanje nisu automatski uključeni u ovu inicijativu,
        pa je potrebna posebna registracija. Više informacija i registracija dostupni su na sledećem linku:<br /><a href="https://mspr.mrezasolidarnosti.org/" title="Mreza Solidarnosti Protiv Represije">https://mspr.mrezasolidarnosti.org/</a></p>
    <p>Hvala Vam što ste deo ove mreže.<br />
        Hvala Vam što ste tu.</p>

    <p>Uvek solidarno,</p>
{% endblock %}
